.register {
  display: flex;
  flex-direction: column;
  border: 1px solid #040c34;
  padding: 30px 30px;
  border-radius: 10px;
  background-color: #5454f3;
  font-family: "Jost", sans-serif;
  color: #f4eeee;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
  }

  label {
    margin-top: 5px;
  }

  &__input {
    padding: 5px;
    border-radius: 5px;
    outline: none;
  }

  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
  }

  &__btn {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 5px 5px;
    background: #fff0f0;
    border: 2px solid #b18597;
    border-radius: 0.75em;
    transition: transform 0.15s;
    transform-style: preserve-3d;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #f9c4d2;
      border-radius: inherit;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 0.15s, box-shadow 0.15s;
    }

    &:hover {
      background: #ffe9e9;
      transform: translate(0, 0.25em);
    }

    &:hover::before {
      transform: translate3d(0, 0.5em, -1em);
    }

    &:active {
      background: #ffe9e9;
      transform: translate(0em, 0.75em);
    }

    &:active::before {
      box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
      transform: translate3d(0, 0, -1em);
    }
  }
}
